.category-navigation,
.menu{
    align-items: flex-start;
    display: flex;
}

.category-navigation{
    border-bottom: 1px solid #CCC;
    justify-content: space-between;
    padding-inline: 1rem;
    padding-top: 1rem;

    & .menu{
        gap: 1rem;

        & li{
            border-bottom: 2px solid transparent;
            box-sizing: border-box;
            cursor: pointer;
            padding-bottom: 1rem;

            &:is(:hover, .active){
                border-bottom-color: #CCC;
            }
        }
    }

    & .user{
        aspect-ratio: 1;
        background-color: #CCC;
        border-radius: 100vw;
        height: 1.5rem;
    }
}

.new-book-button{
    font-weight: 500;
    padding: 1rem;

    &:hover{
        background-color: hsl(0, 0%, 95%);
    }
}

.books-container{
    display: flex;
    flex-direction: column;

    & li{
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        &:hover{
            background-color: hsl(0, 0%, 95%);
        }

        & div{
            align-items: center;
            display: flex;
            gap: 1rem;
        }

        & .label{
            display: flex;
            flex-direction: column;
            gap: .5rem;

            & .book__category{
                font-size: .75rem;
            }
        }

        & button{
            border: none;
            background-color: transparent;
            cursor: pointer;
            padding: 0;
        }

        & .readed-button{
            aspect-ratio: 1;
            border: 1px solid #c1c1c1;
            border-radius: 100vw;
            width: 1.5rem;

            & svg{
                display: none;
            }

            &:hover{
                background-color: hsl(214, 82%, 90%);
                border: none;

                & svg{
                    aspect-ratio: 1;
                    display: block;
                    margin: auto;
                    width: 1.25rem;
                }

                & path{
                    fill: hsl(214, 82%, 51%);
                }
            }
        }

        & .edit-button, & .delete-button{
            & svg{
                aspect-ratio: 1;
                display: block;
                margin: auto;
                width: 1.25rem;
            }

            & path{
                fill: hsl(0, 0%, 30%);
            }
        }

        & .edit-button:hover path{
            fill: hsl(214, 82%, 51%);
        }

        & .delete-button:hover path{
            fill: hsl(0, 82%, 51%);
        }
    }
}