.category-navigation,
.menu{
    align-items: flex-start;
    display: flex;
}

.category-navigation{
    border-bottom: 1px solid #CCC;
    justify-content: space-between;
    padding-inline: 1rem;
    padding-top: 1rem;

    & .menu{
        gap: 1rem;

        & li{
            border-bottom: 2px solid transparent;
            box-sizing: border-box;
            cursor: pointer;
            padding-bottom: 1rem;

            &:is(:hover, .active){
                border-bottom-color: #CCC;
            }
        }
    }

    & .user{
        aspect-ratio: 1;
        background-color: #CCC;
        border-radius: 100vw;
        height: 1.5rem;
    }
}



.books-container{
    display: flex;
    flex-direction: column;

    & li{
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        &:hover{
            background-color: #e9e9e9;
        }

        & div{
            align-items: center;
            display: flex;
            gap: .5rem;
        }

        & .label{
            display: flex;
            flex-direction: column;
            gap: .5rem;

            & .book__category{
                font-size: .75rem;
            }
        }
    }
}