.navigation,
.menu{
    align-items: flex-start;
    display: flex;
}

.navigation{
    border-bottom: 1px solid #CCC;
    justify-content: space-between;

    & .menu{
        gap: 1rem;

        & .item{
            cursor: pointer;
            padding-bottom: .5rem;

            &:hover{
                border-bottom: 1px solid #CCC;
            }
        }
    }

    & .user{
        aspect-ratio: 1;
        background-color: #CCC;
        border-radius: 100vw;
        height: 1rem;
    }
}

