body, body *{
    font-family: system-ui, sans-serif;
}

body{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100svh;
}

main{
    aspect-ratio: 16 / 9;
    border-radius: .5rem;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 720px;
}

.navigation-header{
    border-bottom: 1px solid #CCC;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    
    & h1{
        text-align: center;
    }
}